<div class="card shadow" >
    <div class="card-body text-center">
        <h5 class="card-title text-info">Choose the players</h5>
        <span class="ui-fluid">
            <p-autoComplete [(ngModel)]="countries" [suggestions]="filteredPlayersMultiple" (completeMethod)="filterplayerMultiple($event)" 
                [minLength]="1" placeholder="Add a player" field="pseudo" [multiple]="true">
            </p-autoComplete>
        </span>
        <ul>
            <li *ngFor="let c of countries">{{c.pseudo}}</li>
        </ul>
    </div>
</div>